.profile-img {
    position: relative;
    height: 750px;
    overflow: hidden;
}

.profile-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

#contact-message li{
    list-style-type: none;
    font-weight: 600;
    text-align: center;
}
