{% extends "base.html" %}
{% block content %}
    <h2>About Page</h2>
    <p>
        The formation of the group grew out of a meeting Gandalf had with Thorin in Bree which kindled Thorin's interest
        in recapturing his long lost family inheritance. (Thorin's grandfather had been the King under the Mountain when
        Smaug came and took it.) Remembering that he had once known an adventurous Hobbit on his travels in the Shire,
        Gandalf decided to add Bilbo to their company because he knew that stealth and cunning were preferable to force.
        Gandalf also believed that someone like Bilbo could keep the sometimes prideful and stubborn Dwarves from rash
        action. The superstitious Dwarves also considered thirteen to be an unlucky number, and as Gandalf had planned
        to leave on other business, welcomed a fourteenth to fill into their party.
    </p>
    <div class="row featurette">
        <div class="col-md-7">
            <h3>Thorin Oakenshield</h3>
            <p>
                Thorin II was born in TA 2746 to the Dwarf prince Thráin II in the city of the Lonely Mountain. Early in
                his youth, Thorin and the other Dwarves of the Lonely Mountain were forced to flee by the dragon Smaug,
                in TA 2770. While in exile, he quickly grew to into a capable warrior. This was demonstrated at the
                Battle of Azanulbizar, near Moria, in TA 2799. He fought with one of the Dwarven armies beneath Moria's
                East-gate, and at some point in the battle, his shield broke, and, using an oaken tree branch found on
                the ground as a shield, he gained the epithet "Oakenshield," which remained with him even in death.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://i.pinimg.com/originals/0a/f6/fd/0af6fde0443015b702073a66e52a53cb.jpg" alt="Illustration of Thorin Oakensheild">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://i.pinimg.com/originals/18/c1/09/18c109967569694f339bf2cf2cf81ce4.jpg" alt="illustraion of Fili and Kili">
        </div>
        <div class="col-md-7">
            <h3>Fili and Kili</h3>
            <p>
                Fíli and Kíli were nephews of Thorin, who was the elder brother of their mother, Dís. They were also
                nephews of Frerin, grandsons of Thráin II, and great-grandsons of Thrór. Fíli's most distinguishing
                feature was his long nose, the longest of any of the Dwarves in Thorin's company.
                As the youngest Dwarves, Fíli and Kíli had the sharpest eyes, and were often sent scouting or searching.
                It was they that found the Front Porch while in the Misty Mountains.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Oin</h3>
            <p>
                Óin was a dwarf of Durin's Folk known for being a part of Thorin's Company in the Quest of Erebor.
                Óin was the older brother of Glóin, cousin of Dwalin and Balin, and uncle of Gimli. 
                Óin's uncle was Fundin, the father of Balin and Dwalin.
                Óin fought in the Battle of Azanulbizar along with Thorin Oakenshield, and in TA 2941 joined 
                Thorin's company on the quest to reclaim the Lonely Mountain, wearing a brown hood.
            </p>
        </div>
        <div class="col-md-5">
            <img src="http://th04.deviantart.net/fs71/PRE/i/2012/267/5/1/oin____by_artsy50-d5ft89f.jpg" alt="Illustration of Oin">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://i.pinimg.com/originals/78/f9/db/78f9db4d53d3c7ac4b43a707cf02075a.jpg" alt="illustraion of Gloin">
        </div>
        <div class="col-md-7">
            <h3>Gloin</h3>
            <p>
                Glóin, son of Gróin was one of the Dwarves of Thorin II Oakenshield's company who set out to reclaim the
                Lonely Mountain in the Quest of Erebor. He was also the father of Gimli, who became a member of the
                Fellowship of the Ring.
                Glóin chiefly appears in The Hobbit as a supporting character. Glóin also appears in The Fellowship of
                the Ring during the Council of Elrond.
                On October 25, 3018, Glóin and his son Gimli attended the Council of Elrond in Rivendell, where he
                greeted Frodo Baggins at the welcome dinner, after Frodo had recovered from his wound received from the
                Witch-king of Angmar.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Balin</h3>
            <p>
                Balin was a Dwarf leader, the son of Fundin, and elder brother of Dwalin. He was one of the thirteen
                Dwarves who accompanied Thorin II Oakenshield on the quest to regain the Lonely Mountain.
                A Dwarf Lord known for his wise counsel and willingness to listen, he was one of Thorin's closest
                friends and advisers. Balin was distantly related to him, and a descendant of the noble House of Durin.
                He later went to re-establish the Dwarf presence in Moria, but within five years it was overcome once
                more by Orcs, and he was killed there along with the rest of his companions.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://i.pinimg.com/originals/4a/2a/f3/4a2af3a4f96818a828e57ab8434eb984.jpg" alt="Illustration of Balin">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://pre00.deviantart.net/a082/th/pre/i/2012/276/1/c/dwalin____by_artsy50-d5gohqi.jpg" alt="illustraion of Dwalin">
        </div>
        <div class="col-md-7">
            <h3>Dwalin</h3>
            <p>
                Dwalin was one of the Dwarves who traveled with Bilbo and Gandalf as a member of Thorin and Company on
                the quest to regain the Lonely Mountain from the Dragon Smaug. He was the brother of Balin and the
                youngest son of Fundin. Dwalin, along with his brother Balin, and a few others accompanied Thráin when
                he left the Ered Luin on a Quest to reclaim Erebor.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Ori</h3>
            <p>
                Ori was a member of Thorin's Company of Dwarves and participated in the Quest of Erebor, as well as
                fighting in and surviving the Battle of Five Armies. He, along with his cousins Dori and Nori,[2] were
                remote kinsmen of Thorin II Oakenshield.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://i.pinimg.com/736x/40/e0/7a/40e07a602111225f7c8dea13a1160ac3--hobbit-art-the-hobbit.jpg" alt="Illustration of Ori">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://i.pinimg.com/originals/78/f4/3d/78f43dc4b322d6443b8a46b087a2810e.jpg" alt="illustraion of Dori">
        </div>
        <div class="col-md-7">
            <h3>Dori</h3>
            <p>
                Dori was a Dwarf of Durin's Folk, who, along with his brother Nori and cousin Ori, travelled with
                Bilbo Baggins and Thorin Oakenshield as a member of Thorin's Company on theQuest for Erebor, to reclaim
                the Lonely Mountain from the dragon Smaug.

                Dori was among the Dwarves at Bag End who joined in singing about "blunting the knives" and "bending the
                forks"; as well as accompanying by playing the flute. He was described as “decent fellow despite his
                grumbling”. He often wore a red-violet coat while on the Quest for Erebor. He was noted by Thorin to be
                the strongest of the thirteen companions.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Nori</h3>
            <p>
                Nori was a Dwarf of Durin's Folk. He had a brother named Dori as well as a cousin named Ori, and was a remote kinsman of Thorin Oakenshield.
                He played the flute, and was very fond of regular and plentiful meals like his Hobbit friend, Bilbo Baggins.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://img00.deviantart.net/7a73/i/2012/318/6/e/nori____by_artsy50-d5l15l5.jpg" alt="Illustration of Nori">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://i.pinimg.com/originals/77/c9/9b/77c99b2a5a6727771c5ed90e5eac4bbe.jpg" alt="illustraion of Bifur">
        </div>
        <div class="col-md-7">
            <h3>Bifur</h3>
            <p>
                Whilst he was a descendant of the Dwarves of Khazad-dûm, Bifur was not related to the royal House of
                Durin. Most of his familial relations are unclear, and what is known of his parentage is very little. He
                and his family were driven out of their home in the Lonely Mountain by the dragon Smaug, and were forced
                to live in exile, where the Dwarf warrior worked as a toy maker. Following Thorin II Oakenshield to a
                new life at his halls in the Blue Mountains, he continued his life as a toy maker.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Bofur</h3>
            <p>
                Bofur was a Dwarf who lived in the late-Third Age. He is best known as a companion of Bilbo Baggins,
                Thorin Oakenshield, and Gandalf on the quest to reclaim the Lonely Mountain from the dragon Smaug, along
                with his brother Bombur and cousin Bifur. Bofur was not related to the royal House of Durin but was
                descended from the Dwarves of Khazad-dûm.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://img00.deviantart.net/0f64/i/2012/269/5/f/bofur____by_artsy50-d5fyx3q.jpg" alt="Illustration of Bofur">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://i.pinimg.com/736x/08/02/78/080278b9d3b7673a3978aa7f09ac7b36.jpg" alt="illustraion of Fili and Kili">
        </div>
        <div class="col-md-7">
            <h3>Bombur</h3>
            <p>
                Bombur was a Dwarf who accompanied Thorin Oakenshield and Bilbo Baggins on their quest to the Lonely
                Mountain as part of the company, alongside his brother Bofur and cousin Bifur. Bombur was noted as the
                fattest Dwarf in the company. 
                Bombur's parentage is unknown. He was the brother of Bofur and cousin of Bifur. Bombur was not of Durin's line, 
                although he was descended from the Dwarves of Khazad-dûm. 
            </p>
            </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Gandalf</h3>
            <p>
                Gandalf, known temporarily as the Grey and later the White, and originally named Olórin (Quenya), was an
                Istar (Wizard), dispatched to Middle-earth in the Third Age to combat the threat of Sauron. He joined
                Thorin II Oakenshield and his company to reclaim the Lonely Mountain from Smaug, helped form the
                Fellowship of the Ring to destroy the One Ring, and led the Free Peoples in the final campaign of the
                War of the Ring.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://i.pinimg.com/originals/ee/3c/9c/ee3c9c37e0fd47ebed85d605c9355b78.jpg" alt="Illustration of Gandalf the Grey">
        </div>
    </div>

{% endblock %}